@import "_fonts";

//
//

//*********************************

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: "Poppins-medium";
  // CURSOR DEFAULT NONE
  // cursor: auto;
}

/* ---------BAR STYLES------- */

// THE ERROR IN THIS FILE COMES FROM HERE********
body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(248, 248, 248);
}
//   background-color: rgb(248, 248, 248);
body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  outline: none;
  border-radius: 50px;
}

/* ---------BAR STYLES------- */

body {
  overflow-x: hidden;
  background-color: #edebe4;

  // rgb(248, 248, 248) original,matte white
  //  background-color: #002200; //emeraude
  // ------------
  // ------------
  // ------------
  // ------------
  .page {
    display: flex;
    flex-wrap: wrap;
  }

  // ------------
}
// magenta
//   background-color: rgb(241, 50, 50);
// .scroll {
//   padding: 0 0 200vh;
// }
